//@HACK - fonts don't work with storage.cloud.google.com
$staticStorageUrl: "https://cdn.watheia.org/assets";

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-BoldIt.eot");
  src: local("Adobe Clean Serif Bold Italic"), local("AdobeCleanSerif-BoldIt"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-BoldIt.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-BoldIt.woff2")
      format("woff2"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-BoldIt.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Light.eot");
  src: local("Adobe Clean Light"), local("AdobeClean-Light"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Light.woff2")
      format("woff2"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Bold.eot");
  src: local("Adobe Clean Serif Bold"), local("AdobeCleanSerif-Bold"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Bold.woff2")
      format("woff2"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-LightIt.eot");
  src: local("Adobe Clean Light Italic"), local("AdobeClean-LightIt"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-LightIt.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-LightIt.woff2")
      format("woff2"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-LightIt.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-It.eot");
  src: local("Adobe Clean Serif Italic"), local("AdobeCleanSerif-It"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-It.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-It.woff2")
      format("woff2"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-It.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean";
  src: url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Black.eot");
  src: local("Adobe Clean Black"), local("AdobeClean-Black"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Black.woff2")
      format("woff2"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeClean-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Regular.eot");
  src: local("Adobe Clean Serif"), local("AdobeCleanSerif-Regular"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Regular.woff2")
      format("woff2"),
    url("https://cdn.watheia.org/assets/fonts/subset-AdobeCleanSerif-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.sansFont {
  font-family: "Adobe Clean", "Gill Sans", "Gill Sans MT", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.serifFont {
  font-family: "Adobe Clean Serif", Georgia, "Times New Roman", Times, serif;
}
