// Colors

// Brand
$color-athens-gray: #f3f4f6;
$color-downriver-blue: #092947;
$color-matisse-blue: #215c94;
$color-corn-yellow: #f2b705;
$color-thunder-brown: #231f20;

// Base
$color-text: #092947 !default;
$color-heading: #231f20 !default;
$color-meta: #8594a5 !default;
$color-bg: $color-athens-gray !default;
$color-bg-alt: #ffffff !default;
$color-bg-overlay: rgba(245, 246, 247, 0.8) !default;
$color-border: #e1e4e9 !default;

// Links
$color-link: $color-matisse-blue !default;

// Blockquotes
$color-blockquote: #282f36 !default;
$color-blockquote-border: $color-matisse-blue !default;
$color-input-border: #282f36 !default;

// Buttons
$color-btn: $color-athens-gray !default;
$color-btn-bg: $color-matisse-blue !default;
$color-btn-border: $color-matisse-blue !default;
$color-btn-alt: $color-matisse-blue !default;
$color-btn-alt-bg: transparent !default;
$color-btn-alt-border: #092947 !default;
$color-btn-clear: #282f36 !default;

// Navigation
$color-nav-link: #536171 !default;
$color-nav-link-hover: $color-matisse-blue !default;
$color-nav-link-active: $color-matisse-blue !default;

// Inverse (light text on dark background)
$color-inverse-text: #f5f6f7 !default;
$color-inverse-heading: $color-athens-gray !default;
$color-inverse-bg: #005bc4 !default;
$color-inverse-link: #f5f6f7 !default;
$color-inverse-btn: $color-athens-gray !default;
$color-inverse-btn-bg: $color-matisse-blue !default;
$color-inverse-btn-border: $color-matisse-blue !default;
$color-inverse-btn-alt: $color-matisse-blue !default;
$color-inverse-btn-alt-bg: $color-athens-gray !default;
$color-inverse-btn-alt-border: $color-athens-gray !default;
$color-inverse-btn-clear: $color-athens-gray !default;

// Shadows
$box-shadow: 0 0 1em rgba(0, 0, 0, 0.08) !default;

// Typography
$font-family-sans-serif: "Adobe Clean", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", Helvetica, sans-serif;
$font-family-serif: "Adobe Clean Serif", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: "source-code-pro", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
  monospace;
$font-family-base: $font-family-serif;

// Widths
$width-xs: 360px !default;
$width-sm: 460px !default;
$width-md: 740px !default;
$width-lg: 1140px !default;

// Breakpoints
$media-breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 800px,
  lg: 960px,
  xl: 1200px
) !default;
