@import "~@waweb/base-ui.theme.colors/colors.module.scss";

/**
 * CSS colors and variables for the app.
 */

.primaryPalette {
  color: $d50;
  --wa-text-color: #{$d50};
  --wa-text-color-heavy: #{$d60};
  --wa-text-color-light: #{$d40};
  --wa-text-inactive: #{$d20};
  --wa-text-inactive-heavy: #{$d30};

  --wa-border-color: #{$d20};
  --wa-border-color-heavy: #{$d30};
  --wa-border-color-light: #{$d15};
  --wa-border-color-lightest: #{$d10};

  // -- accent -- //
  --wa-accent-color: #{$b50};
  --wa-accent-heavy: #{$b60};
  --wa-accent-light: #{$b40};
  --wa-accent-text: #{$b50};
  --wa-accent-text-heavy: #{$b60};
  --wa-text-on-accent: #{$w10};
  --wa-accent-bg: #{$b20};
  --wa-accent-bg-heavy: #{$b30};

  // -- background -- //
  // // higher number = more important, and 'closer' to the user.
  // --wa-bg-01: #{$w10};
  // --wa-bg-03: #{$w20};
  // --wa-bg-05: #{$d10};
  // --wa-bg-07: #{$d15};
  // --wa-bg-09: #{$d20};
  // --wa-bg-11: #{$d30};

  // intractable item
  --wa-bg-color: #{$w10}; // when resting
  --wa-bg-heavy: #{$w20}; // when hovering, focus
  --wa-bg-heaviest: #{$d10}; // when active (clicked)

  --wa-bg-bedrock: #{$w10}; // i.e. <body/> background
  --wa-bg-navigation: #{$w20}; // i.e. <body/> background
  --wa-bg-overlay: #{$w10}; // e.g. button, input, etc
  --wa-bg-modal: #{$w10}; // e.g. button, input, etc
  --wa-bg-tooltip: #{$w10}; // e.g. button, input, etc
  --wa-bg-tooltip-heavy: #{$w20};
  --wa-bg-dent: #{$w20};

  // -- error -- //
  // might replace with 'error' theme
  --wa-error-color: #{$r50};
  --wa-error-heavy: #{$r60};
  --wa-error-light: #{$r40};
  --wa-error-bg: #{$r20};
  --wa-error-bg-heavy: #{$r30};
}
