/**
 * Base Styles
 */
html {
  font-family: $font-family-base;
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-bg;
  color: $color-text;
  line-height: 1.625;
  text-rendering: optimizeLegibility;
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @include fontSmooth();
}

a {
  color: $color-link;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  color: $color-heading;
  font-weight: 700;
  line-height: 1.2;
  margin: 2.25rem 0 1.125rem;

  &:first-child {
    margin-top: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 3.625em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3125em;
}

h6 {
  font-size: 1.125em;
}

svg {
  text-rendering: optimizeLegibility;
}

a[role="button"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

[data-reach-skip-link] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}
[data-reach-skip-link]:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: #fff;
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}

svg {
  shape-rendering: crispEdges;
}

svg path,
svg circle {
  shape-rendering: geometricprecision;
}

blockquote {
  border-left: 3px solid $color-blockquote-border;
  color: $color-blockquote;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.5;
  margin: 2.25rem 0;
  padding: 0 1.2em;

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin: 0 0 1.5rem;
}

ul,
ol {
  margin: 0 0 1.5rem;
  padding: 0 0 0 1.25rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  background-color: $color-border;
  border: 0;
  height: 1px;
  margin: 2.25rem 0;

  &:first-child {
    margin-top: 0;
  }
}

/* Media */
embed,
iframe,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.875em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3125em;
  }

  h5 {
    font-size: 1.125em;
  }

  h6 {
    font-size: 1em;
  }
}

/**
 * Chrome has a bug with transitions on load since 2012!
 *
 * To prevent a "pop" of content, you have to disable all transitions until
 * the page is done loading.
 *
 * https://lab.laukstein.com/bug/input
 * https://twitter.com/timer150/status/1345217126680899584
 */
body.loading * {
  transition: none !important;
}
